<script lang="ts">
	import Channel from "$lib/components/Channel.svelte";
	import type { Message } from "$lib/types";

	const messages: Message[] = $state([]);
	let author = $state("me");

	function send(compose: string) {
		messages.push({
			author,
			body: compose,
		});
	}
</script>

<Channel history={messages} {send} />
<input bind:value={author}>
