<script lang="ts">
	import type { Message } from "$lib/types";
	import Messages from "./Messages.svelte";
	import Compose from "./Compose.svelte";

	let {
		history = [],
		compose = $bindable(""),
		send,
	}: {
		history?: Message[];
		compose?: string;
		send?(compose: string): void;
	} = $props();
</script>

<Messages list={history} />
<Compose bind:value={compose} {send} />
