<script lang="ts">
	let {
		value = $bindable(""),
		send,
	}: {
		value?: string;
		send?(value: string): void;
	} = $props();

	function doSend() {
		send?.(value);
		value = "";
	}

	function onEnter(e: KeyboardEvent) {
		if (e.key === "Enter") {
			e.preventDefault();
			doSend();
		}
	}
</script>

<input bind:value={value} onkeypress={onEnter}>
<button onclick={doSend}>Send</button>
