<script lang="ts">
	import type { Message as TMessage } from "$lib/types";
    import Message from "./Message.svelte";

	const {
		list = [],
	}: {
		list?: TMessage[];
	} = $props();
</script>

<ol>
	{#each list as message, i}
		<li>
            <Message
                start={i === 0 || list[i - 1].author !== message.author}
                author={message.author}
                body={message.body}
            />
		</li>
	{/each}
</ol>

<style>
	ol {
		list-style-type: none;
		padding: 0;
	}

    li {
        display: contents;
    }
</style>
