<script lang="ts">
    const {
        start,
        author,
        body
    }: {
        start: boolean;
        author: string;
        body: string;
    } = $props();
</script>

{#if start}
    <strong>{author}:</strong>
{/if}
{body}
